<%= form_for(@grade) do |f| %>
  <% if @grade.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@grade.errors.count, "error") %> prohibited this grade from being saved:</h2>

      <ul>
      <% @grade.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Grade, "Grade" %><br>
    <%= f.number_field :Grade %>
  </div>
  <div class="field">
    <%= f.label :GradeDescription, "Grade Description" %><br>
    <%= f.text_area :GradeDescription %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
