<p id="notice"><%= notice %></p>

<h1>Grades</h1>

<div class="table-responsive">

<table>
  <thead>
    <tr>
      <th>Grade</th>
      <th>Grade Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @grades.each do |grade| %>
      <tr>
        <td><%= grade.Grade %></td>
        <td><%= grade.GradeDescription %></td>
        <td><%= link_to 'Show', grade %></td>
        <% if can? :update, grade%>
        <td><%= link_to 'Edit', edit_grade_path(grade) %></td>
        <% end %>
        <% if can? :destroy, grade%>
        <td><%= link_to 'Remove', grade, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>

<%= link_to 'New Grade', new_grade_path, :class => "btn btn-add"%>

