<%= form_for(@garden_crop) do |f| %>
  <% if @garden_crop.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@garden_crop.errors.count, "error") %> prohibited this garden_crop from being saved:</h2>

      <ul>
      <% @garden_crop.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :GardenName, "Garden Name" %><br>
    <%= f.select :GardenName, options_for_select(@gardens.map{ |c| [c.GardenName] }), {include_blank: true} %>
  </div>
  <div class="field">
    <%= f.label :CropName, "Crop Name" %><br>
    <%= f.select :CropName, options_for_select(@crop_names.map{ |c| [c.CropName] }), {include_blank: true} %>
  </div>
  <div class="field">
    <%= f.label :DateHarvested, "Date Harvested" %><br>
    <%= f.date_select :DateHarvested %>
  </div>
  <div class="field">
    <%= f.label :PoundsHarvested, "Pounds Harvested" %><br>
    <%= f.number_field :PoundsHarvested %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
