<p id="notice"><%= notice %></p>

<h1>Listing Garden Crops</h1>

<table>
  <thead>
    <tr>
      <th>Garden Name</th>
      <th>Crop Name</th>
      <th>Date Harvested</th>
      <th>Pounds Harvested</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @garden_crops.each do |garden_crop| %>
      <tr>
        <td><%= garden_crop.GardenName %></td>
        <td><%= garden_crop.CropName %></td>
        <td><%= garden_crop.DateHarvested %></td>
        <td><%= garden_crop.PoundsHarvested %></td>
        <td><%= link_to 'Show', garden_crop %></td>
        <td><%= link_to 'Edit', edit_garden_crop_path(garden_crop) %></td>
        <td><%= link_to 'Remove', garden_crop, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Garden crop', new_garden_crop_path, :class => "btn btn-add"%>


