<p id="notice"><%= notice %></p>

<p>
  <strong>Garden Name:</strong>
  <%= @garden_crop.GardenName %>
</p>

<p>
  <strong>Crop Name:</strong>
  <%= @garden_crop.CropName %>
</p>

<p>
  <strong>Date Harvested:</strong>
  <%= @garden_crop.DateHarvested %>
</p>

<p>
  <strong>Pounds Harvested:</strong>
  <%= @garden_crop.PoundsHarvested %>
</p>

<%= link_to 'Edit', edit_garden_crop_path(@garden_crop) %> |
<%= link_to 'Back', garden_crops_path %>
