<p id="notice"><%= notice %></p>

<p>
  <strong>Personal ID:</strong>
  <%= @person.PersonalID %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @person.LastName %>
</p>

<p>
  <strong>First Name:</strong>
  <%= @person.Firstname %>
</p>

<p>
  <strong>Email Address:</strong>
  <%= @person.EmailAddress %>
</p>

<p>
  <strong>Age:</strong>
  <%= @person.Age %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
