<%= form_for(@events_person) do |f| %>
  <% if @events_person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@events_person.errors.count, "error") %> prohibited this events_person from being saved:</h2>

      <ul>
      <% @events_person.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :PersonalID, "PersonalID" %><br>
    <%= f.select :PersonalID, @people.map { |p| ["#{p.Firstname} #{p.LastName}", p.id] }, {:prompt => 'Select Person'} %>
  </div>
  <div class="field">
    <%= f.label :EventName, "Event Name" %><br>
    <%= f.select :EventName, options_for_select(@events.map{ |c| [c.EventName] }), {include_blank: true} %>
  </div>
  <div class="field">
    <%= f.label :EventDate, "Event Date"  %><br>
    <%= f.date_select :EventDate %>
  </div>
  <div class="field">
    <%= f.label :HoursWorked, "Hours Worked" %><br>
    <%= f.number_field :HoursWorked %>
  </div>
  <div class="field">
    <%= f.label :EventRole, "Event Role" %><br>
    <%= f.select :EventRole, options_for_select(@event_roles.map{ |c| [c.EventRole] }), {include_blank: true} %>
  </div>
  <div class="field">
    <%= f.label :OrganizationName, "Organization Name" %><br>
    <%= f.select :OrganizationName, options_for_select(@organizations.map{ |c| [c.OrganizationName] }), {include_blank: true} %>
  </div>
  <div class="field">
    <%= f.label :SubOrganizationName, "Sub-Organization Name" %><br>
    <%= f.select :SubOrganizationName, options_for_select(@sub_organizations.map{ |c| [c.SubOrganizationName] }), {include_blank: true} %>
  </div>
  <div class="field">
    <%= f.label :Grade, "Grade" %><br>
    <%= f.select :Grade, options_for_select(@grades.map{ |c| [c.Grade] }), {include_blank: true} %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
