<p id="notice"><%= notice %></p>

<p>
  <strong>Personal ID:</strong>
  <%= @events_person.PersonalID %>
</p>

<p>
  <strong>Person Name: </strong>
  <%= @events_person.PersonName %>
</p>

<p>
  <strong>Event Name:</strong>
  <%= @events_person.EventName %>
</p>

<p>
  <strong>Event Date:</strong>
  <%= @events_person.EventDate %>
</p>

<p>
  <strong>Hours Worked:</strong>
  <%= @events_person.HoursWorked %>
</p>

<p>
  <strong>Event Role:</strong>
  <%= @events_person.EventRole %>
</p>

<p>
  <strong>Organization Name:</strong>
  <%= @events_person.OrganizationName %>
</p>

<p>
  <strong>Sub-Organization Name:</strong>
  <%= @events_person.SubOrganizationName %>
</p>

<p>
  <strong>Grade:</strong>
  <%= @events_person.Grade %>
</p>

<%= link_to 'Edit', edit_events_person_path(@events_person) %> |
<%= link_to 'Back', events_people_path %>
