<p id="notice"><%= notice %></p>

<h1>Listing People Organizations</h1>

<%= form_tag people_organizations_path, :method => 'get' do %>
  <p>Search by OrganizationName: 
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :OrganizationName => nil, :class => "btn btn-add"  %>
    <%=link_to 'Reset', people_organizations_url, :class => "btn btn-download"%>
  </p>
<% end %>

<div class="table-responsive">

<table>
  <thead>
    <tr>
      <th>Personal ID</th>
      <th>Organization Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @people_organizations.each do |people_organization| %>
      <tr>
        <td><%= people_organization.PersonalID %></td>
        <td><%= people_organization.OrganizationName %></td>
        <td><%= link_to 'Show', people_organization %></td>
        <% if can? :update, people_organization%>
        <td><%= link_to 'Edit', edit_people_organization_path(people_organization) %></td>
        <% end %>
        <% if can? :destroy, people_organization%>
        <td><%= link_to 'Remove', people_organization, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>

<%= link_to 'New People organization', new_people_organization_path, :class => "btn btn-add"%>
