<p id="notice"><%= notice %></p>

<p>
  <strong>List Type:</strong>
  <%= @email_list_type.ListType %>
</p>

<p>
  <strong>List Type Description:</strong>
  <%= @email_list_type.ListTypeDescription %>
</p>

<%= link_to 'Edit', edit_email_list_type_path(@email_list_type) %> |
<%= link_to 'Back', email_list_types_path %>
