<p id="notice"><%= notice %></p>

<p>
  <strong>Program Name:</strong>
  <%= @program.ProgramName %>
</p>

<p>
  <strong>Program Start Date:</strong>
  <%= @program.ProgramStartDate %>
</p>

<p>
  <strong>Program End Date:</strong>
  <%= @program.ProgramEndDate %>
</p>

<p>
  <strong>Program Description:</strong>
  <%= @program.ProgramDescription %>
</p>

<%= link_to 'Edit', edit_program_path(@program) %> |
<%= link_to 'Back', programs_path %>
