<p id="notice"><%= notice %></p>

<h1>User Roles</h1>

<div class="table-responsive">

<table>
  <thead>
    <tr>
      <th>User Role</th>
      <th>User Role Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_roles.each do |user_role| %>
      <tr>
        <td><%= user_role.UserRole %></td>
        <td><%= user_role.UserRoleDescription %></td>
        <td><%= link_to 'Show', user_role %></td>
        <% if can? :update, user_role%>
        <td><%= link_to 'Edit', edit_user_role_path(user_role) %></td>
        <% end %>
        <% if can? :destroy, user_role%>
        <td><%= link_to 'Remove', user_role, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>

<%= link_to 'New User role', new_user_role_path, :class => "btn btn-add"%>
