<!DOCTPE html>
<head>
	<title>
	
	</title>
</head>
<body>
	<div id="myCarousel" class="carousel slide container" style="width=200px;margin: 0 auto;text-align:center" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
        <%= link_to(image_tag("grow_windham1.jpg", :alt => "image",:width =>'44%', :height => '44%', :class => "img-responsive center-block")) %>
      <div class="carousel-caption">
        <h3>Meet the Crew</h3>
        <p>Have fun with our friendly crew, and create something great!</p>
      </div>
    </div>

    <div class="item">
       <%= link_to(image_tag("grow_windham2.jpg", :alt => "image",:width =>'44%', :height => '44%', :class => "img-responsive center-block")) %>
      <div class="carousel-caption">
        <h3>Planting</h3>
        <p>Come plant some tasty vegetables with us!</p>
      </div>
    </div>

    <div class="item">
       <%= link_to(image_tag("grow_windham3.jpg", :alt => "image",:width =>'50%', :height => '50%',  :class => "img-responsive center-block")) %>
      <div class="carousel-caption">
        <h3>Enjoying the Outdoors!</h3>
        <p>Relax under some shade after volunteering with us.</p>
      </div>
    </div>

    <div class="item">
       <%= link_to(image_tag("grow_windham4.jpg", :alt => "image",:width =>'50%', :height => '50%', :class => "img-responsive center-block")) %>
      <div class="carousel-caption">
        <h3>Learn life long skills</h3>
        <p>Work as a team, and help out the community</p>
      </div>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-6" style="background-color:#597D59; padding:20px;"> 
      <%= link_to(image_tag("clockicon.png", :alt => "clockicon",:width =>'40px', :height => '50px')) %> </br>
      <strong><h3>Total Event Hours: </br></br><%= @events.sum("EventHours") %></h3></strong>
    </div>
    <div class="col-sm-6" style="background-color:#E38109; padding:20px;">
      <%= link_to(image_tag("personicon.png", :alt => "personicon",:width =>'40px', :height => '50px')) %> </br>
      <strong><h3>Volunteers: </br></br><%= @people.count("Firstname") %></h3></strong>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6" style="background-color:#E38109; padding:20px;"> 
      <%= link_to(image_tag("houseicon.png", :alt => "house1",:width =>'45px', :height => '55px')) %> </br>
      <strong><h3>Total Organizations: </br></br><%= @organizations.count("OrganizationName") %></h3></strong>
    </div>
    <div class="col-sm-6" style="background-color:#597D59; padding:20px;"> 
      <%= link_to(image_tag("carrotpic.png", :alt => "house1",:width =>'45px', :height => '55px')) %> </br>
      <strong><h3>Total Pounds Harvested: </br></br><%= @garden_crops.sum("PoundsHarvested") %></h3></strong>
    </div>
</div>


<footer>
	<br>
    <p>
    	<%= link_to(image_tag("americorps_vista_jpg.jpg", :alt => "image", :width => 100, :height => 100)) %>
    	<%= link_to(image_tag("FoodCorps-Connecticut-Logo.png", :alt => "image", :width => 100, :height => 100)) %></br>
    	</br><a href="https://squareup.com/store/GROW-Windham-Willi-market"><button class="btn-lg btn-success">Donate</button></a>
    </p>
    </br>
    <h5>872 Main Street, Willimantic, CT 06226
    (860) 423-4534 x328 / info@growwindham.org</h5>
</footer>
</body>
</html>