<p id="notice"><%= notice %></p>

<h1>Person Types</h1>

<div class="table-responsive">

<table>
  <thead>
    <tr>
      <th>Person Type</th>
      <th>Person Type Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @persont_types.each do |persont_type| %>
      <tr>
        <td><%= persont_type.PersonType %></td>
        <td><%= persont_type.PersonTypeDescription %></td>
        <td><%= link_to 'Show', persont_type %></td>
        <% if can? :update, persont_type%>
        <td><%= link_to 'Edit', edit_persont_type_path(persont_type) %></td>
        <% end %>
        <% if can? :destroy, persont_type%>
        <td><%= link_to 'Remove', persont_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<%= link_to 'New Persont type', new_persont_type_path, :class => "btn btn-add"%>
