<%= form_for(@produce_given) do |f| %>
  <% if @produce_given.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@produce_given.errors.count, "error") %> prohibited this produce_given from being saved:</h2>

      <ul>
      <% @produce_given.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :CropName %><br>
    <%= f.text_area :CropName %>
  </div>
  <div class="field">
    <%= f.label :DateGive %><br>
    <%= f.date_select :DateGive %>
  </div>
  <div class="field">
    <%= f.label :HowGiven %><br>
    <%= f.text_area :HowGiven %>
  </div>
  <div class="field">
    <%= f.label :PoundsGiven %><br>
    <%= f.number_field :PoundsGiven %>
  </div>
  <div class="field">
    <%= f.label :ValueGiven %><br>
    <%= f.number_field :ValueGiven %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
