<%= form_for(@produce_given) do |f| %>
  <% if @produce_given.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@produce_given.errors.count, "error") %> prohibited this produce_given from being saved:</h2>

      <ul>
      <% @produce_given.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label :CropName, "Crop Name" %><br>
    <%= f.select :CropName, options_for_select(@crop_names.map{ |c| [c.CropName] }), {include_blank: true} %>
  </div>
  <div class="field">
    <%= f.label :DateGive, "Date Given" %><br>
    <%= f.date_select :DateGive %>
  </div>
  <div class="field">
    <%= f.label :HowGiven, "How Given" %><br>
    <%= f.select :HowGiven, options_for_select(@how_givens.map{ |c| [c.HowGiven] }), {include_blank: true} %>
  </div>
  <div class="field">
    <%= f.label :PoundsGiven, "Pounds Given" %><br>
    <%= f.number_field :PoundsGiven %>
  </div>
  <div class="field">
    <%= f.label :ValueGiven, "Value Given" %><br>
    $
    <%= f.number_field :ValueGiven %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
