<p id="notice"><%= notice %></p>

<p>
  <strong>Crop Name:</strong>
  <%= @produce_given.CropName %>
</p>

<p>
  <strong>Date Give:</strong>
  <%= @produce_given.DateGive %>
</p>

<p>
  <strong>How Given:</strong>
  <%= @produce_given.HowGiven %>
</p>

<p>
  <strong>Pounds Given:</strong>
  <%= @produce_given.PoundsGiven %>
</p>

<p>
  <strong>Value Given:</strong>
  <%= @produce_given.ValueGiven %>
</p>

<%= link_to 'Edit', edit_produce_given_path(@produce_given) %> |
<%= link_to 'Back', produce_givens_path %>
