<p id="notice"><%= notice %></p>

<p>
  <strong>Resource Name:</strong>
  <%= @resource.ResourceName %>
</p>

<p>
  <strong>Transaction Date:</strong>
  <%= @resource.TransactionDate %>
</p>

<p>
  <strong>Resource Type:</strong>
  <%= @resource.ResourceType %>
</p>

<p>
  <strong>Resource Transaction:</strong>
  <%= @resource.ResourceTransaction %>
</p>

<p>
  <strong>Monetary Value:</strong>
  <%= @resource.MonetaryValue %>
</p>

<p>
  <strong>Non-Monetary Value:</strong>
  <%= @resource.NonMonetaryValue %>
</p>

<p>
  <strong>Resource Personal ID:</strong>
  <%= @resource.ResourcePersonalID %>
</p>

<p>
  <strong>Resource Organization:</strong>
  <%= @resource.ResourceOrganization %>
</p>

<p>
  <strong>Destination Personal ID:</strong>
  <%= @resource.DestinationPersonalID %>
</p>

<p>
  <strong>Destination Organization:</strong>
  <%= @resource.DestinationOrganization %>
</p>

<p>
  <strong>Description:</strong>
  <%= @resource.Description %>
</p>

<%= link_to 'Edit', edit_resource_path(@resource) %> |
<%= link_to 'Back', resources_path %>
