<p id="notice"><%= notice %></p>

<p>
  <strong>Garden Name:</strong>
  <%= @garden.GardenName %>
</p>

<p>
  <strong>Garden Location:</strong>
  <%= @garden.GardenLocation %>
</p>

<%= link_to 'Edit', edit_garden_path(@garden) %> |
<%= link_to 'Back', gardens_path %>
