<%= form_for(@email_list_type_person) do |f| %>
  <% if @email_list_type_person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@email_list_type_person.errors.count, "error") %> prohibited this email_list_type_person from being saved:</h2>

      <ul>
      <% @email_list_type_person.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :PersonalID, "Personal ID" %><br>
    <%= f.select :PersonalID, options_for_select(@people.map{ |c| [c.PersonalID] }), {include_blank: true} %>
  </div>
  <div class="field">
    <%= f.label :EmailListType, "Email List Type" %><br>
    <%= f.select :EmailListType, options_for_select(@email_list_type.map{ |c| [c.ListType] }), {include_blank: true} %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
