<p id="notice"><%= notice %></p>

<h1>Listing Email List Type People</h1>

<table>
  <thead>
    <tr>
      <th>Personalid</th>
      <th>Emaillisttype</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @email_list_type_people.each do |email_list_type_person| %>
      <tr>
        <td><%= email_list_type_person.PersonalID %></td>
        <td><%= email_list_type_person.EmailListType %></td>
        <td><%= link_to 'Show', email_list_type_person %></td>
        <td><%= link_to 'Edit', edit_email_list_type_person_path(email_list_type_person) %></td>
        <td><%= link_to 'Destroy', email_list_type_person, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<button type="button"><%= link_to 'New Email list type person', new_email_list_type_person_path %></button>
