<p id="notice"><%= notice %></p>

<p>
  <strong>Eventtype:</strong>
  <%= @event_type.EventType %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event_type.Description %>
</p>

<%= link_to 'Edit', edit_event_type_path(@event_type) %> |
<%= link_to 'Back', event_types_path %>
