<p id="notice"><%= notice %></p>

<h1>Listing How Givens</h1>

<table>
  <thead>
    <tr>
      <th>How Given</th>
      <th>How Given Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @how_givens.each do |how_given| %>
      <tr>
        <td><%= how_given.HowGiven %></td>
        <td><%= how_given.HowGivenDescription %></td>
        <td><%= link_to 'Show', how_given %></td>
        <td><%= link_to 'Edit', edit_how_given_path(how_given) %></td>
        <td><%= link_to 'Remove', how_given, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New How given', new_how_given_path, :class => "btn btn-add"%>
