<p id="notice"><%= notice %></p>

<p>
  <strong>Howgiven:</strong>
  <%= @how_given.HowGiven %>
</p>

<p>
  <strong>Howgivendescription:</strong>
  <%= @how_given.HowGivenDescription %>
</p>

<%= link_to 'Edit', edit_how_given_path(@how_given) %> |
<%= link_to 'Back', how_givens_path %>
