<%= form_for(@people_person_type) do |f| %>
  <% if @people_person_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@people_person_type.errors.count, "error") %> prohibited this people_person_type from being saved:</h2>

      <ul>
      <% @people_person_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :PersonalID, "Personal ID" %><br>
    <%= f.select :PersonalID, @people.map { |p| ["#{p.Firstname} #{p.LastName}", p.id] }, {:prompt => 'Select Person'} %>
  </div>
  <div class="field">
    <%= f.label :PersonType, "Person Type" %><br>
    <%= f.select :PersonType, options_for_select(@persont_types.map{ |c| [c.PersonType] }), {include_blank: true} %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
