<p id="notice"><%= notice %></p>

<h1>Sub-Organizations</h1>

<div class="table-responsive">

<table>
  <thead>
    <tr>
      <th>Organization Name</th>
      <th>Sub-Organization Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sub_organizations.each do |sub_organization| %>
      <tr>
        <td><%= sub_organization.OrganizationName %></td>
        <td><%= sub_organization.SubOrganizationName %></td>
        <td><%= sub_organization.Description %></td>
        <td><%= link_to 'Show', sub_organization %></td>
        <% if can? :update, sub_organization%>
        <td><%= link_to 'Edit', edit_sub_organization_path(sub_organization) %></td>
        <% end %>
        <% if can? :destroy, sub_organization%>
        <td><%= link_to 'Remove', sub_organization, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>

<%= link_to 'New Sub organization', new_sub_organization_path, :class => "btn btn-add"%>
