<p id="notice"><%= notice %></p>

<h1>Listing Sub Organizations</h1>

<table>
  <thead>
    <tr>
      <th>Organizationname</th>
      <th>Suborganizationname</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sub_organizations.each do |sub_organization| %>
      <tr>
        <td><%= sub_organization.OrganizationName %></td>
        <td><%= sub_organization.SubOrganizationName %></td>
        <td><%= sub_organization.Description %></td>
        <td><%= link_to 'Show', sub_organization %></td>
        <td><%= link_to 'Edit', edit_sub_organization_path(sub_organization) %></td>
        <td><%= link_to 'Destroy', sub_organization, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sub organization', new_sub_organization_path %>
