<p id="notice"><%= notice %></p>

<h1>Listing Garden Inventories</h1>

<table>
  <thead>
    <tr>
      <th>Gardenname</th>
      <th>Toolname</th>
      <th>Count</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @garden_inventories.each do |garden_inventory| %>
      <tr>
        <td><%= garden_inventory.GardenName %></td>
        <td><%= garden_inventory.ToolName %></td>
        <td><%= garden_inventory.Count %></td>
        <td><%= link_to 'Show', garden_inventory %></td>
        <td><%= link_to 'Edit', edit_garden_inventory_path(garden_inventory) %></td>
        <td><%= link_to 'Destroy', garden_inventory, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Garden inventory', new_garden_inventory_path %>
