<!DOCTYPE html>
<html>
<head>
  <title>GROW Windham</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
	<br/>
	<div class="container">
		<div class="row" style="text-align:center">
			
			<%= image_tag("grow.jpg", :class => "billboard") %>
		</div>
	</div>

<br/>
<div class="container">
	<div class="row" style="text-align:center">
		<nav class="navbar navbar-inverse" >
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div class="navbar-collapse collapse">
            <% if current_user %>
               <%= render 'layouts/dashboard_links' %>
      						<% else %>
							 <%= render 'layouts/website_links' %>
  				  <% end %>
  			  <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
              <li class="info button"><%= link_to 'Edit account', edit_user_registration_path %></li>
              <li class="success button"><%= link_to 'Logout', destroy_user_session_path, :method => :delete %> </li>
                <% else %>
              <li class="info button"><%= link_to 'Sign in', new_user_session_path  %></li>
              <li class="success button"><%= link_to 'Sign up', new_user_registration_path %></li>
            <% end %>
        </ul>
          </div><!--/.nav-collapse -->
        </div>
      </nav>
	</div>
</div>
		</nav>
		<br/>
<div class="well well-lg">
<%= yield %>
</div>
</body>
</html>
